{% extends 'pages/base/base.html' %}

{% block title %}Logs{% endblock %}
{% block titlepage %}Logs of Application{% endblock %}
{%block head%}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/page_logs.css') }}">
{% endblock %}
{% block content %}
<div class="terminal">
    <div class="terminal-body">
        <table class="">
            <thead>
                <tr>
                    <th style="width: 18%;">Time Data</th>
                    <th style="width: 12%;">User/IP</th>
                    <th style="width: 12%;">Feature</th>
                    <th style="width: 12%;">Action</th>
                    <th style="width: 30%;">Response</th>
                    <th style="width: 30%;">Summary</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log.timestamp.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                    <td>{{ log.user }}</td>
                    <td>{{ log.feature }}</td>
                    <td>{{ log.action }}</td>
                    <td>{{ log.response }}</td>
                    <td>{{ log.summary }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}